@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

.App{
    background-color: $main-bg;
    color: $main-color;
    &::-webkit-scrollbar {
        width:0px;
    }
}

.container{
    display: flex;
}

.menu-container{
    height: 90vh;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;
}

.content-container{
    margin: 1rem 0;
    padding: 5px 20px;
    width: 100%;
}

