@import "../../styles/variables.scss";

.Footer{
    height: 5vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    border-top: 2px solid $soft-bg;

    .footer-left{
        display: flex;
        align-items: center;
        gap:10px;
        i{
            font-size: 1.3rem;
        }
        &:hover{
            cursor: pointer;
            filter: brightness(0.8);
        }
    }
}